/* CSS declarations go here */
body{
    background-color: #FFF;
}
h1{
	display: flex;
	justify-content: center;
	font-size: 80px;
    font-family: 'Ultra', serif;
	

}

.cityblocks {
    height:450px;
    background-image: url(images/city.jpg);
 }
.mainTitles {
	display: flex;
	justify-content: space-around;
    align-content: center;
	margin: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
}

li {
    float:left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 30px 16px;
    text-decoration: none;
}


li a:hover {
    background-color: #111;
}

.mainDivs p{
    text-align: center;


}
.mainImages{
    height: 10em;
    width:15em;
    margin:2em;
}

.mainHeadings{
	display: flex;;
justify-content: space-around;	
}
 #login-buttons{
display: flex;
justify-content: center;
margin-right: 150px;
}
.description{
    height: 15em;
    width: 14em;
    float:left;
    clear: right;
    border: solid 2px #1e90ff;
    border-radius: 1%;
    padding:10px;
    margin:10px;

    
}
.services {
    height: 15em;
    width: 14em;
    float: right;
    border: solid 2px #1e90ff;
    border-radius: 1%;
    padding:10px;
    margin:10px;
    
}
.about{
    height: 15em;
    width: 14em;
    float: left;
    clear: left;
    border: solid 2px #1e90ff;
    border-radius: 1%;
    padding:10px;
    margin:10px;
}
.tools{
    height: 15em;
    width: 14em;
    float: right;
    clear: right;
    border: solid 2px #1e90ff;
    border-radius: 1%;
    padding:10px;
    margin:10px;
}
@media (max-width:768px) {
.mainTitles{
    
    float: left;
}
#login-buttons{
    clear: both;
margin-right:100px;
}
.description{
    margin-left:120px;
    float: left;

}
.services{
    margin-left:120px;
    float: left;

}
.about{
    margin-left:120px;
    float: left;

}
.tools{
   margin-left:120px;
    float: left;

}
.navbar {
    display: flex;
    justify-content: space-around;
}
.navbar-brand{
    margin-right: 40px;
}
}
footer{
    display: flex;
    justify-content: center;
    border:solid 1px #1e90ff;
    height: 100px;

}
footer h4{
    margin: 30px;

}
.cityblocks {
    height:450px;
    background-image: url(images/city.jpg);
   
 }
}