/* CSS declarations go here */
body{
    background-color: #FFF;
}
h1{
	display: flex;
	justify-content: center;
	font-size: 80px;
	

}
.mainTitles {
	display: flex;
	justify-content: space-around;
    align-content: center;
	margin: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
}

li {
    float:left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 30px 16px;
    text-decoration: none;
}


li a:hover {
    background-color: #111;
}

.mainDivs p{
    text-align: center;


}
.mainImages{
    height: 10em;
    width:15em;
    margin:2em;
}

.mainHeadings{
	display: flex;;
justify-content: space-around;	
}
 #login-buttons{
display: flex;
justify-content: center;
}
.description{
    height: 15em;
    width: 14em;
    float:left;
    clear: right;
    
}
.services {
    height: 16em;
    width: 14em;
    float: right;
    
}
.about{
    height: 15em;
    width: 14em;
    float: left;
    clear: left;
}
.tools{
    height: 15em;
    width: 14em;
    float: right;
   clear: right;
}
@media (max-width: 600px) {
.mainTitles{
    margin :0px;
    float: left;
}
#login-buttons{
 
}
.description{
    align-content: center;
    float: left;

}
.services{
    align-content: center;
    float: left;

}
.about{
    align-content: center;
    float: left;

}
.tools{
    align-content: center;
    float: left;

}
.navbar {
    display: flex;
    justify-content: space-around;
}
}
