<template name="info">
  <div class="outer-jumbotron">
    <div class="jumbotron">
      <center>
      <h1>Toolbox</h1>
      <a class="btn btn-success" href="/tooldata">Click to Find or Rent Your Tool</a>
      </center>
    </div>
  </div>
  <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2>Earn Cash</h2>
          <p>You can earn extra spending cash from renting out tools you rarely use around your house. Ranging from power tools to lawnmowers.</p>
        </div>
        <div class="col-md-4">
          <h2>Quick and Easy</h2>
          <p>Within a few minutes you can have your stuff listed on toolbox for anyone in your area. </p>
       </div>
        <div class="col-md-4">
          <h2>Get to know your neighbors</h2>
          <p>Toolbox uses geo location search to find the tools you want in your area. </p>
        </div>
      </div>
    </div>
</template>
