.jumbotron {
  margin-top: 5rem;
  background-image: url("/img/background.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 45rem;
  color: #fff;
}

.jumbotron,
.navbar-brand {
  font-family: 'Monoton', cursive;
  color: #fff !important;
  font-size: 2.5rem;
}
